@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;

  display: grid;
  align-content: center;

  min-height: 100vh;
  padding: 150px 0;

  color: $color-light;
  background-color: $color-primary;
  background-position: center;
  background-size: cover;

  //@media (max-resolution: 300dpi) {
  //  background-image: url(../img/img-header.png);
  //}
  //@media (min-resolution: 301dpi) {
  //  background-image: url(../img/img-header@2x.png);
  //}

  @media (min-width: 1921px) {
    background-image: url(../img/img-header@2x.png);
  }

  @media (max-width: 1920px) {
    background-image: url(../img/img-header.png);
  }
}
